# ضع هنا مفتاح YouTube Data API (v3)
YT_API_KEY=YOUR_YOUTUBE_API_KEY

# القناة الافتراضية (freeCodeCamp)
YT_CHANNEL_ID=UC8butISFwT-Wl7EV0hUK0BQ
YT_CHANNEL_TITLE=freeCodeCamp

# عند تشغيل محليًا اجعل BASE_URL=http://localhost:3000
BASE_URL=http://localhost:3000
